<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArchiveLower.Properties.Settings.ARCHIVEConnectionString"
            connectionString="Data Source=192.168.10.41;Initial Catalog=ARCHIVE;Persist Security Info=True;User ID=8668;Password=09112064568"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>